*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #F8F4EC ;
}

.nav-links{
    text-decoration: none;
    display: flex;
    list-style: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.nav-links a{
    text-decoration: none;
    display: inline-block;
    color: #2C2C2C;
}

.nav-links a:hover{
    transform: scale(1.05);
    transition: all 0.2s ease;
    color: #C5A572;
}


h1{
    text-align: center;
    margin: 10px;
    color: #2C2C2C;
}

form{

    max-width: 400px;
    margin: 0 auto;
    background-color: #F8F4EC;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #D6D2C6;
    padding-right:40px;
    margin-bottom: 30px;
}

label{
    color: #2C2C2C;
    font-weight: 600;
    display: block;
    margin-top: 15px;
    background-color: #F8F4EC;
}

input{
    background-color: #FFFFFF;
    border: 2px solid #D6D2C6;
}

input, textarea{
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #D6D2C6;
    font-size: 14px;
    background-color: #FFFFFF;
    border-radius: 10px;

}

input:focus , textarea:focus{
    outline: none;
    border-color: #C5A572;
}

textarea{
    resize: none;
    margin-bottom: 10px;
}

input:focus{
    border-color: #C5A572;
    outline: none;
}

input::placeholder{
    color: #C5A572;
}

button{
    background-color: #C5A572;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}


button:hover{
    background-color: #B8945C;
}

input[type="checkbox"] {
    transform: scale(0.6);
}

input[type="radio"] {
    transform: scale(0.6);
}

.radio-group, .checkbox-group{
margin-top: 10px;
margin-bottom: 10px;
background-color: #F8F4EC;
display: flex;
}

.radio-group label, 
.checkbox-group label{
    display: flex;
    align-items:start;
}


.footer{
    background-color:#F4EFE7;
    color: #2C2C2C;
    padding: 25px;
    gap: 20px;
    border-top: 1px solid #2C2C2C;
    margin-top: 10px;
}

.f-res-name{
    font-size: 22px;
}

.f-info{
    display: flex; 
    padding-bottom: 15px;  
}

.f-info p:nth-child(2){
    padding-left: 40px;
}


#iframe{
    margin: 10px;
    margin-bottom: 20px;
}

