*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: #F8F4EC;
}

.nav-links{
    text-decoration: none;
    display: flex;
    list-style: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.nav-links a{
    text-decoration: none;
    display: inline-block;
    color: #2C2C2C;
}

.nav-links a:hover{
    transform: scale(1.05);
    transition: all 0.2s ease;
    color: #C5A572;
}

.menu{
    background-color: #C5A572;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.menu-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size:20px;
    gap: 50px;
}

.menu-categories a{
    display: inline-block;
    text-decoration: none;
    color:#2C2C2C;
    padding-right: 50px;
    transition: all 0.3s ease;
}

.menu-categories a:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    color: #F8F4EC;
}

.menu h2{
    font-size: 25px;
}

section {
    max-width: 1000px;
    margin: 0 auto 40px auto;
    padding: 0 16px;
}

section h2{
    font-size: 34px;
    margin-bottom: 16px;
    color: #2C2C2C;
    padding: 10px;
}

.dish-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1 fr));
    gap: 20px;
}

.dish-card{
    background-color: #F8F4EC;
    border-radius: 12px;
    padding: 12px;
    border: 1px solid #D6D2C6;
}

.dish-card h3{
    margin: 10px 0 6px 0;
    font-size: 18px;
    color: #2C2C2C;
}

.dish-desc{
    font-size: 14px;
    color: #4A4A4A;
    margin-bottom: 6px;
}

.dish-price {
    font-weight: 600;
    color: #C5A572;
    font-size: 14px;
}

.footer{
    background-color:#F4EFE7;
    color: #2C2C2C;
    padding: 25px;
    gap: 20px;
}

.f-res-name{
    font-size: 22px;
}

.f-info{
    display: flex; 
    padding-bottom: 15px;  
}

.f-info p:nth-child(2){
    padding-left: 40px;
}
